* {
    box-sizing: border-box
} 

body {
   /*  Color de fondo de toda la pagina */
    background-color: grey;
} 

.General {
    /*Color del fondo de la seccion*/
     background-color: white;
      
    /*Que tan circulares son las puntas de la seccion*/
     border-radius: 32px;

     
    /*Configuraciones para el color del borde INCOMPLETA*/
     border: 1px solid green;
     
}

#SelectorPagina {
    /*Margen de separacion de la isquierda y la derecha
     margin: 25px 25px; */
     margin-top: 10px;
     margin-left: 25px;
     margin-right: 80%;
     margin-bottom: -15px;
   
    /*Que tan centrado estan los objetos dentro de la seccion*/ 
     padding: 15px;   
}

#CorreoElectronico {
    /*Margen de separacion de la isquierda y la derecha*/
     margin: 25px 25px; 
    
    /*Que tan centrado estan los objetos dentro de la seccion*/
     padding: 20px;    

}
